article
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.img_box
{
	padding :5px;
	border: 1px outset grey;
	min-width: 275px;
	max-width: 350px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 1px lightgrey;
}
.img_box h3
{
	text-align: center;
}
img
{
	width:100%;
}

.under
{
	display: flex;
	flex-direction: column;
	font-size: 1.8vw;
}

.com_head
{
	display: flex;
	flex-direction: raw;
	justify-content: space-between;
}

.com_head p
{
	margin:0px;
}

.com
{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.icons
{
	display: flex;
	font-size: 1.8vw;
}