body
{
	background-size: cover;
	max-width: 100%;
	height: auto;
}


/*--------------------- Test -------------------------*/

.begin_drop
{
	width:30%;
	margin: auto;
}

.begin_hide
{
	color:red;
	display: none;
}

.begin_drop:hover .begin_hide
{
	color : green;
	display:block;
}