article
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.img_box
{
	padding :5px;
	border: 1px outset grey;
	min-width: 275px;
	max-width: 350px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 1px lightgrey;
}
img
{
	width:100%;
}

.icons
{
	width:50%;
	display: flex;
	font-size: 1.8vw;
}