article
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
}
.img_box
{
	background-color: white;
	padding-left :15px;
	padding-right :15px;
	padding-top :5px;
	border: 1px outset lightgrey;
	min-width: 275px;
	max-width: 350px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	/*box-shadow: 1px 1px lightgrey;*/
}
img
{
	width:100%;
}

.icons
{
	width:50%;
	display: flex;
	font-size: 1.8vw;
}

.usrBio
{
	margin: auto;
	margin-top: 5px;
	padding: 15px;
	border: 1px outset lightgrey;
	width:80%;
	display:flex;
	justify-content: space-between;
}

.urates
{
	/*border: 1px solid black;*/
	text-align: center;
}

.urates p
{
	margin:0;
}

.urates .urates_int
{
	text-shadow: -1px -1px #c40000;
	color:white;
	position: relative;
	top: -40%;
}