#cam
{
	width: 100%;
	/*height: 25vw;*/
	display:flex;
	flex-direction: raw;
	align-items: center;
	justify-content: space-between;
}

.cam_elem
{
	width: 100%;
	margin: 15px;
}

#filterV
{
	width: 7.5%;
	max-width: 100px;
	position: absolute;
}

#screenshot-video
{
	width: 60%;
	max-width: 400px;
}
#screenshot-img
{
	width: 60%;
	max-width: 400px;
}

#filters
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#filters button
{
	max-width: 100px;
}

#filters button:hover
{
	border: 1px solid white;
}

#filters img
{
	width: 100%;
}

#filters button
{
	border: none;
}

#buttons
{
	/*border: 0px solid red;*/
	width: 60%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column;*/
	justify-content: space-around;
}

label
{
	cursor: pointer;
	text-align: center;
}

.addPicButs
{
	padding:6px 0 6px 0;
	margin-bottom: 4px;
	width: 25%;
	font:bold 13px Arial;
	background: white;
	color:#555;
	border-radius:2px;
	min-width:120px;
	border:1px solid #ccc;
}

.addPicButs:hover
{
	/*background-image: linear-gradient(#687fe8, #1131c1);*/
	background-color: lightgrey;
	border:1px solid grey;
}

#uImg
{
	display: none;
}

#img_box
{
	width:50%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}

#img_box form
{
	width:40%;
}

#img_box input
{
	width: 100%;
}
